


#galleryContainer {
	display: grid;
	grid-template-columns: 1fr;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 3em;
	margin-bottom: 3em;
	z-index: 0;
	}



	
	#galleryBox {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}

	.galleryImg {
		display: flex;
		flex-grow: 1; /* pictures spaced evenly, take up any remaining space */
		object-fit: cover;
		border: 1px solid rgb(206, 206, 206);
		border-radius: 5px;
		margin: 1em;
    width: 350px;
    height: 350px;
		opacity: 1;
		flex: 1 1 20em;
		-webkit-box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.7);
		-moz-box-shadow:     1px 1px 3px rgba(0, 0, 0, 0.7);
		box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.7);
	}
	
	@media only screen and (min-width: 500px) { 
	.galleryImg {
		display: flex;
		flex-grow: 1; /* pictures spaced evenly, take up any remaining space */
		object-fit: cover;
		object-position: bottom;
		border-radius: 5px;
		margin: 1.3em;
		width: 350px;
		opacity: .95;
		flex: 1 1 20em;
		-webkit-box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.7);
		-moz-box-shadow:     1px 1px 3px rgba(0, 0, 0, 0.7);
		box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.7);
	}
	
	.galleryImg:hover {
	transform: scale(1.1);
	transform: rotate(1); /* brings image forward, can rotate with -5deg */
	transition:
					background-color 1s,
					box-shadow 1s,
					transform .5s; /* changes speed it flips */
					-webkit-box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.7);
					-moz-box-shadow:     1px 1px 3px rgba(0, 0, 0, 0.7);
					box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.7);
	opacity: 1;
	}
}

@media only screen and (min-width: 800px) { 
	.galleryImg {
		max-height: 50vh;
		object-position: bottom;
	}
}

	@media only screen and (max-width: 895px) { 
		#galleryContainer, #filterSection {
			margin-left: 2em;
			margin-right: 2em;
		}

		.galleryImg {
			object-fit: cover;
		}
	}

	@media only screen and (max-width: 800px) { 
	

		.galleryImg {
			max-width: 35vmax;
			max-height: 35vmax;
		}
	}

	/* @media only screen and (max-width: 767px) { 
	

		.galleryImg {
			max-width: 35vmax;
			max-height: 35vmax;
		}
	} */

	











	/* start */
@media (max-width: 820px) and (orientation: landscape) {
	.galleryImg {
		max-width: 35vmax;
		max-height: 35vmax;
	}

	#galleryTitleDiv {
		position: relative;
		top: 6em;
	}

	.sliding-background {
		background-position: center;
	}

	#galleryContainer {
		margin-left: 0em;
		margin-right: 0em;
	}

	.galleryImg {
		opacity: 1;
	}

	.galleryImg:hover {
		transform: scale(0);
		transform: rotate(0); /* brings image forward, can rotate with -5deg */
		opacity: 1;
		}
}




@media only screen and (min-width: 737px) and (max-width: 767px) { 


	.galleryImg {
		max-width: 35vmax;
		max-height: 35vmax;
	}
}


@media only screen and (max-width: 714px) and (orientation: portrait) { 


	.galleryImg {
		max-width: 34vmax;
		max-height: 34vmax;
	}
}

@media only screen and (max-width: 697px) and (orientation: portrait) { 

	.galleryImg {
		max-width: 30vmax;
		max-height: 30vmax;
	}
}

@media only screen and (max-width: 631px) and (orientation: portrait) { 

	.galleryImg {
		max-width: 25vmax;
		max-height: 25vmax;
	}
}

@media only screen and (max-width: 548px) and (orientation: portrait) { 

	.galleryImg {
		max-width: 50vmax;
		max-height: 50vmax;
	}
}