body {
  text-align: left;

}

/* main {
  background-color: white;
} */
.will-fadeIn h2 {
display: block;
 margin: 1em !important;
 font-size: 1.8rem;
 margin-top: 3em !important;
}

.will-fadeIn:nth-child(3) h2 {
  font-size: 1.5rem;
}
p {
  margin: auto;
}

#spindlesInfo {
  margin-left: 4em;
  margin-right: 4em;
}

.spindlesP {
  margin-left: 1.2em;
  margin-right: 1em;
  font-size: 1.5rem;
  text-align: left;
}
.doing {
  transform: rotate(-35deg);
  display: block;
  position: absolute;
  top: 0;
  left: -90px;
  margin-top: 25px;
  text-align: center;
  background-color: #15748b;
  width: 300px;
  color: #fff;
  padding: 5px 0px;
}
.will-fadeIn {
  display: block;
  width: 100%;
  width: 40vw;
  margin: 20px auto;
  height: 50vh;
  padding: 10px;
}
.will-fadeIn:nth-child(1) {
  background: rgba(84, 165, 166, 0.359);
  z-index: 0;
}

.will-fadeIn:nth-child(2) {
  background-image: url("/assets/images/ironSpindlesLicensed.jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.will-fadeIn:nth-child(3) {
  background: rgba(84, 165, 166, 0.359);
  z-index: 0;
}

.will-fadeIn:nth-child(4) {
  background-image: url("/assets/images/spindleAnatomyLicensed.jpeg");
  background-position: center;
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  z-index: 1;
}

.will-fadeIn:nth-child(5) {
  background-image: url("/assets/images/classicSpindlesLicensed.jpeg");
  z-index: 1;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.will-fadeIn:nth-child(6) {
  background: rgba(84, 165, 166, 0.359);
  z-index: -1;
}

.will-fadeIn:nth-child(7) {
  background: rgba(84, 165, 166, 0.359);
  z-index: 0;
}

.will-fadeIn:nth-child(8) {
  background-image: url("/assets/images/glassRailingLicensed.jpeg");
  z-index: 1;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.will-fadeIn:nth-child(9) {
  background-image: url("/assets/images/classicIronSpindlesLicensed.jpeg");
  z-index: 1;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.will-fadeIn:nth-child(10) {
  background: rgba(84, 165, 166, 0.359);
  z-index: 0;
}


.will-fadeIn:nth-child(12) {
  background-image: url("/assets/images/woodspindles.jpeg");
  z-index: 1;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.will-fadeIn:nth-child(11) {
  background: rgba(84, 165, 166, 0.359);
  z-index: 0;
}

.fadeInRight {
  -webkit-animation: fadeInRight .6s ease .6s both;
  -moz-animation: fadeInRight .6s ease .6s both;
  -ms-animation: fadeInRight .6s ease .6s both;
  -o-animation: fadeInRight .6s ease .6s both;
  animation: fadeInRight .6s ease .6s both;
}
@media (prefers-reduced-motion) {
  .fadeInRight .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
 }
}
.fadeInLeft {
  -webkit-animation: fadeInLeft .6s ease .6s both;
  -moz-animation: fadeInLeft .6s ease .6s both;
  -ms-animation: fadeInLeft .6s ease .6s both;
  -o-animation: fadeInLeft .6s ease .6s both;
  animation: fadeInLeft .6s ease .6s both;
}
@media (prefers-reduced-motion) {
  .fadeInLeft .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
 }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@-ms-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@-o-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@-ms-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@-o-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}

#railingGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6em;
}

@media screen and (max-width: 980px) {
  #railingGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
  }
  .will-fadeIn {
    display: block;
    width: 100%;
    width: 90vw;
    margin: 20px auto;
    height: 50vh;
    padding: 10px;
  }

  #spindlesInfo {
    margin-left: 2em;
    margin-right: 2em;
  }

  .will-fadeIn:nth-child(3) h2 {
    font-size: 1.3rem;
  }

  .will-fadeIn h2 {
     font-size: 1.6rem;
     margin-top: 1em !important;
    }

}

.light {
  font-weight: 300;
  font-size: 110%;
}
